In [1]:
def vol(rad):
   return (4/3)*(3.14)*(rad**3)

In [2]:
vol(2)

33.49333333333333

In [6]:
def ran_check(num,low,high):
   return num in range(low,high+1)

In [7]:
ran_check(5,2,7)

True

In [10]:
def up_low(s):
    lowercase = 0
    uppercase = 0
    
    for char in s:
        if char.isupper():
            uppercase +=1
        elif char.islower():
            lowercase +=1
        else:
            pass
        
        
    print(f"Original String: {s}")
    print(f"Lowercase count: {lowercase}")
    print(f"Uppercase count: {uppercase}")

In [12]:
s = "Hello Mr. Rogers, how are you this fine Tuesday?"
up_low(s)

Original String: Hello Mr. Rogers, how are you this fine Tuesday?
Lowercase count: 33
Uppercase count: 4

In [13]:
def unique_list(lst):
    return list(set(lst))

In [14]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
def multiply(numbers):
    total = 1
    for num in numbers:
        total = total * num
    return total

In [16]:
multiply([1,2,3,-4])

-24

In [17]:
def palindrome(s):
    s = s.replace(' ','')
    return s==s[::-1]

In [18]:
palindrome('nurses run')

True

In [19]:
import string
def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alphaset = set(alphabet)
    str1 = str1.replace(' ','')
    str1 = str1.lower()
    str1 = set(str1)
    
    return str1 == alphaset

In [20]:
ispangram("The quick brown fox jumps over the lazy dog")

True